* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Utility */
header {
  background: #333;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 1400px;
  height: 70px;
  margin: auto;
}

.navbar .logo {
  margin-left: 15px;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  text-decoration: none;
}

.navbar a:hover {
  border-bottom: red 2px solid;
}

.navbar ul {
  display: flex;
}

/* Disclaimer */
.disclaimer {
  grid-column: 1 / span 5;
  background-color: red;
  color: #fff;
  padding: 1rem;
  text-align: center;
  align-items: center;
  margin: 1rem 1rem 1rem 1rem;
}

.disclaimer h3 a {
  color: #fff;
}

.disclaimer h3 a:hover {
  color: #000;
}

/* Spinner */
.spinner {
  text-align: center;
  margin-top: 5rem;
}

/* US Data */
.data-wrapper {
  width: 1400px;
  margin: auto;
}

.data {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  max-height: 1000px;
  margin-bottom: 4rem;
}

.list-data {
  margin-left: 1rem;
  padding: 1rem 1rem;
  max-height: 1000px;
}

/* Totals Section */
.totals {
  margin-bottom: 1rem;
  border-bottom: 1px dotted black;
  height: 170px;
}

.totals h2 {
  border-bottom: 2px solid black;
  margin-bottom: 0.5rem;
}

/* .totals ul {
  margin-bottom: 1rem;
} */

.US-Totals:hover {
  cursor: pointer;
  color: red;
}

/* State List */
.state-list {
  height: 803px;
  overflow: scroll;
}

.state-list h2 {
  border-bottom: 2px solid black;
  margin-bottom: 0.5rem;
}

.state-list ul li {
  border-bottom: 1px dotted black;
  margin: 0.5rem 0;
}

.state-list ul li:last-child {
  border-bottom: none;
}

.state-list ul li h3 {
  cursor: pointer;
}

.state-list ul li h3:hover {
  color: red;
}

.charts {
  padding: 1rem 0rem;
  grid-column: 2 / span 3;
  max-height: 1000px;
}

.data:last-child {
  grid-column: 5 / span 1;
}

/* County List */
.county-list {
  margin-right: 1rem;
  padding: 1rem;
  max-height: 1000px;
  overflow: scroll;
}

.county-list div h1 {
  border-bottom: 2px solid black;
}

.county-list div ul li {
  margin: 0.5rem 0;
  border-bottom: 1px dotted black;
}

.county-list div ul li:last-child {
  border: none;
}

/* State Bar Chart */
.state-bar-chart {
  margin-bottom: 2rem;
}

/* About Section */

.about-section {
  margin: auto;
  width: 1000px;
}

.about-section h1 {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
  text-decoration: underline;
}

.about-section p {
  margin: 0 1rem;
  line-height: 1.4;
  font-size: 1.3rem;
}

.about-link {
  color: red;
  text-decoration: none;
}

.about-link:hover {
  text-decoration: underline;
  color: #b60006;
}

/* Daily Increases */
.daily-increases {
  margin-bottom: 2rem;
}
