* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utility */
header {
  background: #333;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* Navbar */
.logo {
  margin-left: 15px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  height: 70px;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  text-decoration: none;
}

.navbar a:hover {
  border-bottom: red 2px solid;
}

.navbar ul {
  display: flex;
}

/* Data */
.list-data {
  margin-left: 1rem;
  padding: 1rem 0;
  background: #f3f3f3;
}

.totals {
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}

.totals ul {
  margin-bottom: 1rem;
}

.state-list {
  max-height: 900px;
  overflow: scroll;
}

.data {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  /* background: #f3f3f3; */
}

.data .disclaimer {
  grid-column: 1 / span 5;
  padding: 1rem;
  border: solid red 2px;
  text-align: center;
  align-items: center;
  margin: 1rem;
}

.charts {
  background: #f3f3f3;
  padding: 1rem;
  /* display: grid; */
  /* grid-template-columns: repeat(1, 1fr); */
  grid-column: 2 / span 3;
}

.data:last-child {
  grid-column: 5 / span 1;
}

.filler {
  background: #f3f3f3;
  margin-right: 1rem;
}
